.navbar{
    position:fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    background: rgb(42, 45, 59);
}

.enc{
    float:left;
}

ul {
    list-style: none;
}
li{
    float: left;

    margin-left: 40px;
}

button,input{
    float: right;

    margin-right: 20px;

    height: 25px;
    border-radius: 5px;
}
input{
    width: 200px;
}

a{
    text-decoration: none;
    color: rgba(226, 226, 226, 0.705);
}
a:hover{
    color: rgb(226, 226, 226);
}

button{

    border: 2px solid green;
    width: 80px;
    color: green;
    background: rgb(42, 45, 59);

}
button:hover{
    background: green;
    color: white;
}
