<div class="navbar">

        <div class="enc">
                <ul>
                        <li><a href="#">APP-Angular</a></li>
                        <li><a href="#">Quienes somos</a></li>
                        <li><a href="#">Casos de exito</a></li>
                        <li><a routerLink="/clientes">Clientes</a></li>
                      
                </ul>

        </div>

        <div class="enc2">

                    <button class = "button">Search</button>
                    <input type="text" name="" id="">

        </div>



    </div>
