<div class="cuerpo">

  <div class="contenedor">
    <div class="login">
      <div class="datos">
        <h1 style="text-align:center">Sign in</h1>

        <form (ngSubmit)="logear()">
          <fieldset class="form-group">
            <label for="Email1">Email address</label>
            <input type="email" class="form-control" [(ngModel)]="login.username" placeholder="Enter email" name="username">
          </fieldset>
          <fieldset class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" [(ngModel)]="login.password" placeholder="Password" name="password">
          </fieldset>
          <button type="submit" class="btn btn-primary"  > Submit</button>
        </form>

      </div>

    </div>





  </div>
</div>
