.cuerpo{
    background-image: url('/assets/images/imglogin.jpg');
}


.contenedor{
   height: 1000px;
   width: 100%;
   border: 0px solid black;


}

.login{

  width: 100%;
  height: 600px;
  position: fixed;
  margin-top: 140px;

}

.datos{

  width: 30%;
  height: 300px;
  border: 1px solid black;
  margin: 10px auto;
  border-radius: 10px;
  background: rgba(165, 167, 182, 0.541);

}

form{

  margin-left: 20px;
  margin-right: 20px;

}
