<button type="button" [routerLink]="['/login']" style="margin-top:80px;margin-left:80px;margin-right:80px;" class="btn btn-danger">Log-out</button>

<div  class="card border-warning mb-3 contenedore">



  <div class="card-header">Clientes</div>

  <div class="card-body text-warning">
    <h5 class="card-title">Listado de clientes</h5>

    <div class="my-2 text-left">
      <button type="button" name="button" class="btn btn-rounded btn-primary" [routerLink] ="['/clientes/form',usuario.id]">Crear Cliente</button>
    </div>

    <div class="alert alert-info" *ngIf="clientes?.length==0">
      No hay registros en la base de datos
    </div>

    <table class ="table table-bordered table-striped " *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Direccion</th>
          <th>Email</th>
          <th>Nit</th>
          <th>Ciudad</th>
          <th>Direccion</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cli of clientes">
          <td>{{cli.id}}</td>
          <td>{{cli.name}}</td>
          <td>{{cli.address}}</td>
          <td>{{cli.email}}</td>
          <td>{{cli.nit}}</td>
          <td>{{cli.city}}</td>
          <td>{{cli.address}}</td>
        <!--  <td><button class="btn btn-primary" [routerLink]="['/clientes/form', cli.id]">Editar</button></td>
          <td><button class="btn btn-danger" (click) = 'eliminar(cli)'>Eliminar</button></td>-->
        </tr>
      </tbody>
    </table>
  </div>
</div>
