<div class="card bg-dark text-white" style ="width:40%;margin:80px auto">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">

      <form >

        <fieldset class="form-group">
          <input type="text" class="form-control"  placeholder="Name"  [(ngModel)]="cliente.name" name="name">
        </fieldset>

        <fieldset class="form-group">
          <input type="email" class="form-control" placeholder="Email" [(ngModel)]="cliente.email"  name="email">
        </fieldset>

        <fieldset class="form-group">
          <input type="text" class="form-control"  placeholder="Address" [(ngModel)]="cliente.address" name="address">
        </fieldset>
        <fieldset class="form-group">
          <input type="text" class="form-control"  placeholder="City" [(ngModel)]="cliente.city" name="city">
        </fieldset>
        <fieldset class="form-group">
          <input type="text" class="form-control"  placeholder="Nit" [(ngModel)]="cliente.nit" name="nit">
        </fieldset>

        <fieldset class="form-group">
          <label for="exampleSelect1">Select sector</label>
          <select class="form-control" id="exampleSelect1" [(ngModel)]="sector.id" name="sector_name">
            <option *ngFor="let sect of sectores">{{sect.id}}</option>
          </select>
        </fieldset>

        <fieldset class="form-group">
            <input type="text" class="form-control contact" placeholder="Contact Name" [(ngModel)]="contacto.name" name="contact_name">
            <input type="text" class="form-control contact"  placeholder="Contact Email" [(ngModel)]="contacto.email" name="contact_email">
        </fieldset>

        <button type="submit" class="btn btn-primary" (click)="crear()">Crear</button>
      </form>


  </div>

</div>
